<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/homepage/h2.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">

            <div class="owner">
                <div class="avatar">
                    <img src="./assets/img/faces/backend_prod.png" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <h4 class="title">Mücahit Sağıroğlu<br /></h4>
                    <h6 class="description">Computer Science student</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <h5>
                        I am currently studying at the Frankfurt University of Applied Sciences and long for an internship.
                        While there, I would like to write my bachelor's thesis and complete my studies.
                        After that, I would like to step up into the world of work.
                    </h5>
                    <br/>
                    <h6 class="description">Myself</h6>
                    <h5>
                        I am ambitious and goal-oriented.
                        I love challenges and always set new goals for myself so that I have something to aspire to.
                        I don't like to settle and I am always looking for a way to improve and achieve greater things.
                    </h5>
                    <br/>
                    <h6 class="description">Skills</h6>
<!--                    <button class="btn btn-outline-default btn-round"><i class="fa fa-cog"></i> Settings</button>-->
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-md-2 text-center">
                    <h5><strong>Languages: </strong></h5>
                </div>
                <div class="col-md-4 text-center">
                    <h5>Java, C, Python, C++, VBA, Assembler, SQL, TeX, R</h5>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-md-2 text-center">
                    <h5><strong>Applications: </strong></h5>
                </div>
                <div class="col-md-4 text-center">
                    <h5>Microsoft Office, PyCharm, IntelliJ, Photoshop, TeXstudio, PE-Design 10, RStudio,
                        Git, Wireshark</h5>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-md-2 text-center">
                    <h5><strong>Further: </strong></h5>
                </div>
                <div class="col-md-4 text-center">
                    <h5>Computernetzwerke, Django, Angular, Scrum, Wordpress, Linux, Mininet, Floodlight</h5>
                </div>
            </div>
        </div>
    </div>
</div>
