<div class="modal-header">
    <h4 class="modal-title" id="modal-title">Blog deletion</h4>
</div>
<div class="modal-body">
    <p><strong>Are you sure you want to delete this <span class="text-primary">Blog</span>?</strong></p>
    <p>All information will be deleted permanently!
        <span class="text-danger">This operation can not be undone.</span>
    </p>
    <div *ngIf="isError"
         class="help-block mt-1 text-danger">
        <p>
            <i class="ft-alert-circle align-middle"></i> {{ error }}
        </p>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="deleteBlog()">Delete</button>
</div>
