<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav col-9">
                <ul>
                    <li *ngIf="showHome"><a routerLink="/home">Homepage</a></li>
                    <li *ngIf="showBlog"><a routerLink="/blog">Blog</a></li>
                    <li *ngIf="showContact"><a routerLink="/contact">Contact</a></li>
                    <li *ngIf="showAbout"><a routerLink="/about">About me</a></li>
                </ul>
            </nav>

            <div class="credits ms-auto col-3 text-end">
                <span class="copyright">
                    <i class="fa fa-heart heart"></i>v2
                </span>
            </div>
        </div>
    </div>
</footer>
